<div class="create-deck-page-root h-full w-full">
    <div class="create-deck-page-header h-1/6 flex justify-center items-center">
        <h1 class="title text-4xl font-bold">{{title}}</h1>
    </div>
    <div class="create-deck-page-body h-5/6">
        <div class="new-deck">
            <div class="deck-name flex justify-center gap-4">
                <input [(ngModel)]="newDeck.name" type="text" class="bg-transparent py-2 px-4 border border-blue-500 rounded" placeholder="Nome do baralho">
                <app-button [buttonText]="buttonText" buttonType="primary" (clickEvent)="saveDeck()"></app-button>
                <app-button buttonText="Limpar baralho" buttonType="danger" (clickEvent)="clearDeck()"></app-button>
            </div>
            <div class="selected-cards">
                <h1>Cartas selecionadas:</h1>
                <div class="flex flex-wrap gap-4">
                    <app-card *ngFor="let card of newDeck?.cards" [card]="card" (clickEvent)="isCardInDeck(card)"></app-card>
                </div>
            </div>
        </div>
        <div class="options" *ngIf="!loadingCards">
            <h1>Cartas disponíveis:</h1>
            <div class="flex flex-wrap gap-4">
                <app-card *ngFor="let card of cards" [card]="card" (clickEvent)="isCardInDeck(card)"></app-card>
            </div>
        </div>
        <div class="loading flex justify-center items-center" *ngIf="loadingCards">
            <h1 class="text-4xl font-bold">Carregando cartas...</h1>
    </div>
</div>
