<div class="deck-details-page h-full w-full">
    <div class="deck-details-page-header flex h-1/6 w-full justify-center items-center">
        <h1 class="text-4xl font-bold">Detalhes</h1>
    </div>
    <div class="deck-details-page-body h-5/6">
        <div class="deck-name flex gap-4 justify-center">
            <h1 class="text-3xl font-bold">{{deck.name}}</h1>
            <app-button buttonText="Alterar" buttonType="primary" (clickEvent)="navigateToCreateDeck(deck.id)"></app-button>
            <app-button buttonText="Excluir" buttonType="danger" (clickEvent)="removeDeck()"></app-button>
        </div>
        <div>
            <p>Numero de cartas pokemon: {{deck.pokemonCards}}</p>
            <p>Numero de cartas de treinador: {{deck.trainerCards}}</p>
            <p>Tipos diferentes: {{deck.uniqueTypes?.length}} ({{deck.uniqueTypes}})</p>
        </div>
        <div class="deck-cards">
            <h2>Cartas:</h2>
            <div class="flex flex-wrap gap-4">
                <app-card *ngFor="let card of deck.cards" [card]="card"></app-card>
            </div>
        </div>
    </div>        
</div>
