<div class="menu h-full w-full flex flex-col items-center">
    <div class="flex h-1/3 w-full justify-center items-center">
        <h1 class="text-4xl font-bold">Bem-vindo ao PokemonCard!</h1>
    </div>
    <div class="flex items-center justify-evenly h-2/3 w-full">
        <app-button buttonText="Criar novo baralho" buttonType="primary" (clickEvent)="goToCreateDeck()"></app-button>
        <app-button buttonText="Meus baralhos" buttonType="primary" (clickEvent)="goToManageDeck()"></app-button>
    </div>
</div>